p {
  font-size: 14px;
}
@media only screen and (max-width: 480px) {
  p {
    font-size: 12px;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
.c-primary {
  color: #722A8D;
}

.c-secondary {
  color: #6EB701;
}

.button-primary-full {
  width: 100%;
  padding: 12px 10px;
  background: #722A8D;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  border-radius: 25px;
  border: 0;
  transition: 0.3s;
}
.button-primary-full:hover {
  background: #430a58;
}

.block-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.block-group .block {
  width: calc(100% - 0px);
}
.block-group .block-50 {
  width: calc(50% - 20px);
}
.block-group .block-60 {
  width: calc(60% - 0px);
}
.block-group .block-70 {
  width: calc(70% - 0px);
}
.block-group .block-25 {
  width: calc(25% - 0px);
}
.block-group .block-40 {
  width: calc(40% - 0px);
}
.block-group .block-30 {
  width: calc(30% - 0px);
}
.block-group .block-33 {
  width: calc(33.33% - 6px);
}
.block-group .block-20 {
  width: calc(20% - 6px);
}
@media only screen and (max-width: 480px) {
  .block-group .block-50 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-60 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-70 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-25 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-40 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-30 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-33 {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .block-group .block-20 {
    width: 100% !important;
    margin-bottom: 25px;
  }
}

#main {
  min-height: 100vh;
}

header {
  margin-bottom: 25px;
}
header h3 {
  font-size: 24px;
  font-weight: 800;
}
@media only screen and (max-width: 480px) {
  header {
    margin-bottom: 15px;
  }
  header h3 {
    font-size: 20px;
  }
}

.card {
  padding: 40px 35px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 10px 24px rgba(41, 72, 152, 0.09);
}
@media only screen and (max-width: 480px) {
  .card {
    padding: 25px 20px !important;
  }
}

.card-primary {
  padding: 40px 35px;
  background: #722A8D;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 10px 24px rgba(41, 72, 152, 0.09);
}
@media only screen and (max-width: 480px) {
  .card-primary {
    padding: 25px 20px !important;
  }
}

/*inputs*/
.has-search .form-control {
  font-size: 12px;
  padding: 0.6rem 2rem;
  border-radius: 6px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.5rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* theme custom */
.main-nav {
  margin-top: 110px;
}
.main-nav .faq-list {
  padding: 0;
}
.main-nav .faq-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  list-style: none;
}
.main-nav .faq-list li {
  padding: 0;
  background: transparent;
  border-radius: 4px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 15px;
}
.main-nav .faq-list li + li {
  margin-top: 0px;
}
.main-nav .faq-list li .sub-collapse {
  position: absolute;
  width: max-content;
  background: #ECEEF4;
  padding: 15px;
  margin-top: 20px;
  border-top: 3px solid #000000;
  border-radius: 15px;
  box-shadow: 0px 5px 12px rgba(41, 72, 152, 0.22);
}
.main-nav .faq-list li .sub-collapse .sub-alignment {
  display: flex;
}
.main-nav .faq-list li .sub-collapse .sub-alignment a {
  margin-right: 10px;
}
.main-nav .faq-list a {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.main-nav .faq-list a .nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(41, 72, 152, 0.09);
  transition: 0.3s;
}
.main-nav .faq-list a .nav-title:hover {
  background: #80CE0C;
}
.main-nav .faq-list a .nav-title:focus {
  background: #80CE0C;
}
.main-nav .faq-list a .nav-title h6 {
  font-size: 13px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 15px;
}
.main-nav .faq-list a .nav-title h6 i {
  color: #662d91;
  font-size: 22px;
  margin-right: 10px;
}
.main-nav .faq-list a .nav-title-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #80CE0C;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(41, 72, 152, 0.09);
  transition: 0.3s;
}
.main-nav .faq-list a .nav-title-collapse h6 {
  font-size: 13px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 15px;
}
.main-nav .faq-list a .nav-title-collapse h6 i {
  color: #662d91;
  font-size: 22px;
  margin-right: 10px;
}
.main-nav .faq-list a .sub-active {
  background: #662D91 !important;
}
.main-nav .faq-list a .sub-active h6 {
  font-weight: 600 !important;
  color: white !important;
}
.main-nav .faq-list a .nav-title-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 1px solid gainsboro;
  border-radius: 18px;
  padding: 8px 15px;
  box-shadow: 0px 4px 12px rgba(41, 72, 152, 0.05);
  transition: 0.3s;
}
.main-nav .faq-list a .nav-title-sub:hover {
  background: #662D91;
}
.main-nav .faq-list a .nav-title-sub:hover h6 {
  color: white;
}
.main-nav .faq-list a .nav-title-sub:active {
  background: #662D91;
}
.main-nav .faq-list a .nav-title-sub:active h6 {
  color: white;
}
.main-nav .faq-list a .nav-title-sub .sub-active {
  background: #662D91;
}
.main-nav .faq-list a .nav-title-sub .sub-active h6 {
  color: white;
}
.main-nav .faq-list a .nav-title-sub h6 {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.main-nav .faq-list a .nav-title-sub h6 i {
  color: #662d91;
  font-size: 22px;
  margin-right: 10px;
}
.main-nav .faq-list .icon-help {
  font-size: 24px;
}
.main-nav .faq-list .icon-show {
  font-size: 12px;
  display: flex;
  color: transparent;
}
.main-nav .faq-list .icon-close {
  font-size: 14px;
  position: absolute;
  bottom: -10px;
  right: 14px;
  color: #000000;
}
.main-nav .faq-list a.collapsed {
  color: #343a40;
}
.main-nav .faq-list a.collapsed .nav-title-collapse {
  background: white;
}
.main-nav .faq-list a.collapsed .nav-title-collapse:hover {
  background: #80CE0C;
}
.main-nav .faq-list a.collapsed .icon-show {
  display: flex;
  color: #000000;
}
.main-nav .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
.content-area {
  padding: 20px 0px;
}

#about .content-area .container .card .block-group {
  align-items: flex-start;
}
#about .content-area .container .card .block-group .block-70 {
  width: calc(70% - 15px);
}
#about .content-area .container .card .block-group .block-70 p {
  font-weight: 500;
  line-height: 1.6;
}
#about .content-area .container .card .block-group .block-30 {
  width: calc(30% - 15px);
}
#about .content-area .container .card .block-group .block-30 img {
  width: 70%;
}
#about .content-area .container .card-primary {
  padding: 35px 40px;
  margin-top: 40px;
}
#about .content-area .container .card-primary p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
}
#about .content-area .container #dataConcept {
  margin-top: 60px;
}
#about .content-area .container #dataConcept .block-group .block img {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  #about .content-area .container .card .block-group .block-30 img {
    width: 90%;
  }
  #about .content-area .container .card-primary p {
    font-size: 12px;
  }
  #about .content-area .container #dataConcept .block-group .block-50 img {
    width: 100%;
  }
}

#loginPage {
  background-image: url("http://localhost/Socioeconomic-Web-HTML/assets/img/login-bg.jpg");
  background-size: contain;
}
#loginPage .login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.95);
  height: 100vh;
  margin: 0 auto;
}
#loginPage .login-wrapper .container .login-inner-wrapper {
  margin: 0 auto;
  width: 385px;
  text-align: center;
}
#loginPage .login-wrapper .container .login-inner-wrapper .logo {
  margin-bottom: 25px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .logo img {
  width: 50px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .title-area h3 {
  color: #430a58;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
}
#loginPage .login-wrapper .container .login-inner-wrapper .title-area h4 {
  color: #722a8d;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .form-area .form-group .form-control {
  border-radius: 25px;
  margin: 20px 0px;
  padding: 15px 50px 15px 67px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .form-area .help-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 12px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .form-area .help-area .form-check {
  display: inline-block;
}
#loginPage .login-wrapper .container .login-inner-wrapper .form-area .help-area .form-check label {
  color: #766873;
}
#loginPage .login-wrapper .container .login-inner-wrapper .form-area .help-area .default-link a {
  color: #766873;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area {
  margin-top: 70px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area .top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area .top img {
  width: 50px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area .top img:nth-child(2) {
  width: 85px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area .top img:nth-child(3) {
  width: 65px;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area .bottom {
  margin-top: 40px;
  text-align: center;
}
#loginPage .login-wrapper .container .login-inner-wrapper .footer-area .bottom img {
  width: 170px;
}
#loginPage .inner-addon {
  position: relative;
}
#loginPage .inner-addon i {
  position: absolute;
  padding: 16px 30px;
  font-size: 24px;
  color: #AC94BE;
  pointer-events: none;
}
#loginPage .left-addon i {
  left: 0px;
}
#loginPage .right-addon i {
  right: 0px;
}
#loginPage .left-addon input {
  padding-left: 30px;
}
#loginPage .right-addon input {
  padding-right: 30px;
}
@media only screen and (max-width: 480px) {
  #loginPage .login-wrapper .container .login-inner-wrapper {
    width: 100%;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #AC94BE !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #AC94BE !important;
}

/*# sourceMappingURL=main.css.map */
